.portifolio-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.portifolio-grid {
  display: grid;
  grid-column-gap: 52px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
  .portifolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .portifolio-grid {
    grid-template-columns: 1fr;
  }
}
