.skills-section {
  padding-top: 160px;
  padding-bottom: 160px;
  width: 100%;
  background-color: var(--section-color);
  color: var(--font-color);
}

.skill-list {
  gap: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 550px) {
  .skill-list {
    grid-template-columns: 1fr;
  }
}
