@use "./fonts.scss";

:root {
  --background-color: #1b1f24;
  --section-color: #22282f;
  --nav-color: #22282f;
  --font-color: #f0f2f4;
  --font-secondary-color: #c3cad5;
  --secondary-color: #2d343f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: var(--background-color);
}

.hidden {
  display: none;
}

.section-heading {
  color: var(--font-color);
  margin-bottom: 64px;

  .section-subtitle {
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    span {
      color: #075fe4;
      margin-right: 10px;
    }
  }

  h2 {
    font-size: 52px;
    line-height: 1.25;
    font-weight: 700;
  }
}
