@use "./fonts.scss";

:root {
  --background-color: #1b1f24;
  --section-color: #22282f;
  --nav-color: #22282f;
  --font-color: #f0f2f4;
  --font-secondary-color: #c3cad5;
  --secondary-color: #2d343f;
  --link-underline: #5d6c83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

.hidden {
  display: none;
}

.heading-top-line {
  max-width: 148px;
  background-color: #fff;
  min-height: 8px;
  margin-bottom: 48px;
}
